.search {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-gray--darker);
    width: 85%;
    margin-inline: auto;
    padding-block: 0.3rem;
    padding-left: 1.25rem;
    padding-right: 0.75rem;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 500px;
}
.search:has(.search__input:focus-visible) {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.search__icon {
    width: 1.875rem;
    height: 1.875rem;
    color: var(--clr-gray);
}

.search__input {
    min-width: 0;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--clr-light-gray);
}
.search__input::placeholder {
    font-size: var(--text-sm);
    font-weight: 500;
}

@media (width >= 768px) {
    .search {
        padding-block: 0.5rem;
    }
    .search__input::placeholder {
        font-size: var(--text-base);
    }
}

@media (width >= 1280px) {
    .search__input {
        font-size: var(--text-lg);
    }
    .search__input::placeholder {
        font-size: var(--text-base);
    }
}
